
$lentil_yellow: #FFCD32;
$lentil_blue: #990012;

@import "lentil";

body {
    background: image-url("shawu2.jpg") no-repeat left top;
 	background-size:100%;
}
.navbar-inner {
    background: #282828;
}
div.header {
	background: #282828;
}