
$lentil_yellow: #FFCD32;
$lentil_blue: #990012;

@import "lentil";

/*body {
    background: image-url("shawbear.jpg") fixed;
}*/
.navbar-inner {
    background: #282828;
}
div.header {
	background: #282828;
}